.mainContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);
}

.postsContainer {
  margin: 0 auto 3rem;
}

.preview {
  background: var(--gray-100);
  border-radius: 4px;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  width: 100%;
  display: block;
  color: var(--gray-900);

  transition: all 0.2s;

  &:hover {
    background: var(--gray-200);
  }
}