.post {
  margin: 0 auto 3rem;

  a {
    display: block;

    & + a {
      margin-top: 3rem;
      border-top: 1px solid var(--gray-700)
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
      color: var(--gray-100);

      transition: color 0.2s;
    }

    p {
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;
      font-size: 1rem;
      color: var(--gray-200);
      margin-bottom: 1rem;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--gray-250);

      time, span {
        display: contents;
        align-items: center;
        justify-content: flex-start;

        text-align: center;
        justify-content: center;
        display: contents;
        text-transform: capitalize;

        & span {
          font-size: 0.8rem;
        }

        & svg {
          margin-right: 0.275rem;
        }
      }

      span svg {
        margin-left: 2rem;
      }
    }

    transition: color 0.2s;

    &:hover strong {
      color: var(--pink-500);
    }
  }
}

.loadMorePostsButton {
  border: 0;
  padding: 0;
  background: none;
  color: var(--pink-500);
  font-size: 0.875rem;
  font-weight: 600;

  &:hover {
    filter: brightness(0.9)
  }
}